/* assets/custom.css */

body {
  background-color: #f5f7fb;
}

/* Biar card nggak terlalu nempel */
.card {
  border-radius: 0.75rem;
}

/* Text basic info di control bar */
#pattern-basic-info {
  text-align: right;
}
